@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: block;
}

/* Style navigation menu links */
.topnav a {
    float: left;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Style the hamburger menu */
.topnav a.icon {
    float: left;
}
  
/* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
  /* Style the active link (or home/logo) */
.active {
    background-color: #04AA6D;
    color: white;
    position: absolute;
    right: 0;
}

.fa {
    display:inline-block;
    font:normal normal normal 14px/1 FontAwesome;
    font-size:1.5rem;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}

.icon {
    background-color: rgb(78, 83, 73);
}